{% extends 'base.html.twig' %}

{% block title %}Mon profil | TalentConnect{% endblock %}

{% block body_class %}profile-choice-page{% endblock %}

{% block body %}
<section class="profile-choice">
  <div class="container profile-choice__container">
    <header class="profile-choice__header">
      <h1 class="profile-choice__title">Mon profil</h1>
      <p class="profile-choice__lead">Votre espace personnel est en cours de développement.</p>
    </header>
  </div>
</section>
{% endblock %}
